<div class="container">
    <div class="card shadow-lg p-3 mb-5 rounded text-center">
        <h1 class="text-white">Telefone para contato</h1>
        <h3 class="text-white">(47)10933-1231</h3>
    </div>
</div>