@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="card text-center shadow-lg p-3 mb-5 rounded">
        <img class="card-img-top" src="imgs/podrao.jfif" height="250" width="250"/>
        <div class="card-body border-5">
                <h5 class="card-title text-white">O melhor podrão da minha RUA!</h5>
                <p class="card-text text-white">Veja o cardápio abaixo!</p>
                <a class="btn btn-warning text-white" asp-controller="Home" asp-action="Privacy">Cardápio</a>
        </div>
    </div>
</div>
